<div class="row" style="height: 100%;">
	<div class="col-md-4" style="height: 100%;">
		<div style="overflow: scroll; position: absolute; top: 0px; bottom: 0px;">
	
			<div class="list-group">
				<a href="" 
					class="list-group-item" 
					ng-class="{active: recording.start==current.selectedRecording.start}" 
					ng-click="selectRecording(recording)" 
					ng-repeat="recording in recordings" 
					style="padding-bottom: 5px; padding-top: 5px;"
					>{{recording.start | date:'EEE, MMM dd yy HH:mm:ss'}}</a>
			</div>
		</div>
	</div>
<div class="col-md-8" ng-model="current.selectedRecording" ng-hide="!current.selectedRecording.start">
	<div class="row">
		<div class="col-md-10" >{{current.selectedRecording.start | date:'EEEE, MMMM d yyyy H:mm:ss'}}</div>
		<div class="col-md-1 btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
				<span class="glyphicon glyphicon-cog"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="" ng-click="deleteRecording(current.selectedRecording)">Delete</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
	
	</div>
</div>	
</div>