<div id="visualmashscheme" data-chart ng-model="mashschemedata"></div>

<div class="row">
    	<label class="col-md-2">Start</label>
		<div class="col-md-2 input-group">
  			<input class="form-control" type="text" ng-model="mashscheme.start.temperature" ng-change="updateMashSchemeDataFromScheme()">
  			<span class="input-group-addon">&#x2103</span>
		</div>
</div>
<div class="row">
    	<label class="col-md-2">Beta</label>
		<div class="col-md-2 input-group">
  			<input class="form-control" type="text" ng-model="mashscheme.beta.temperature" ng-change="updateMashSchemeDataFromScheme()">
  			<span class="input-group-addon">&#x2103</span>
		</div>
		<div class="col-md-2 input-group">
  			<input class="form-control" type="text" ng-model="mashscheme.beta.length" ng-change="updateMashSchemeDataFromScheme()">
  			<span class="input-group-addon">min</span>
		</div>
</div>
<div class="row">
		<label class="col-md-2">Alpha</label>
		<div class="col-md-2 input-group">
  			<input class="form-control" type="text" ng-model="mashscheme.alpha.temperature" ng-change="updateMashSchemeDataFromScheme()">
  			<span class="input-group-addon">&#x2103</span>
		</div>
		<div class="col-md-2 input-group">
  			<input class="form-control" type="text" ng-model="mashscheme.alpha.length" ng-change="updateMashSchemeDataFromScheme()">
  			<span class="input-group-addon">min</span>
		</div>
</div>

<div class="row">
		<label class="col-md-2">Mash out</label>
		<div class="col-md-2 input-group">
  			<input class="form-control" type="text" ng-model="mashscheme.mashout.temperature" ng-change="updateMashSchemeDataFromScheme()">
  			<span class="input-group-addon">&#x2103</span>
		</div>
</div>
