<div class="row">
	<div class="hw-grouped">
		<div class="hw-header">Mash Heater</div>
		<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">Current</div>
				<div class="col-md-2">New</div>
			</div>
			<div class="row">
				<div class="col-md-2">Frequency</div>
				<div class="col-md-2 input-group" >
					<input class="input-sm form-control uneditable-input" type="text" ng-model="hardware.heaters.mash.frequency"/>
					<span class="input-group-addon">Hz</span>
				</div>
				<div class="col-md-2 input-group">
					<input class="input-sm form-control" type="text" ng-model="desiredhardwarestate.heaters.mash.frequency"/>
					<span class="input-group-addon">Hz</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Wattage</div>
				<div class="col-md-2 input-group" >
					<input class="input-sm form-control uneditable-input" type="text" ng-model="hardware.heaters.mash.watt"/>
					<span class="input-group-addon">W</span>
				</div>
				<div class="col-md-2 input-group">
					<input class="input-sm form-control" type="text" ng-model="desiredhardwarestate.heaters.mash.watt"/>
					<span class="input-group-addon">W</span>
				</div>
			</div>
			
	</div>

	<div class="hw-grouped">
		<div class="hw-header">Recorder</div>
	</div>
	<div class="hw-grouped">
		<div class="hw-header">Raspberry PI</div>
		<a href="" class="btn btn-default" ng-click="UpdateRPiInfo()">Get hardware info</a>
		<div ng-model="raspberrypi.hwinfo">
		<div style="font-family: monospace; white-space: pre">{{raspberrypi.hwinfo.diskusage}}</div>
		<div>Load [1, 5 and 15 minutes]: {{raspberrypi.hwinfo.loadavg}}</div> 
		</div>	
	</div>

</div>