<div id="visualmashscheme" data-chart ng-model="mashdata"></div>

<div class="row">
    	<label class="span2">Start</label>
		<div class="input-append">
  			<input class="span2" id="appendedInput" type="text" ng-model="mashscheme.start.temperature" ng-change="updateMashDataFromScheme()">
  			<span class="add-on">&#x2103</span>
		</div>
</div>
<div class="row">
    	<label class="span2">Beta</label>
		<div class="input-append">
  			<input class="span2" id="appendedInput" type="text" ng-model="mashscheme.beta.temperature" ng-change="updateMashDataFromScheme()">
  			<span class="add-on">&#x2103</span>
		</div>
		<div class="input-append">
  			<input class="span2" id="appendedInput" type="text" ng-model="mashscheme.beta.length" ng-change="updateMashDataFromScheme()">
  			<span class="add-on">min</span>
		</div>
</div>
<div class="row">
		<label class="span2">Alpha</label>
		<div class="input-append">
  			<input class="span2" id="appendedInput" type="text" ng-model="mashscheme.alpha.temperature" ng-change="updateMashDataFromScheme()">
  			<span class="add-on">&#x2103</span>
		</div>
		<div class="input-append">
  			<input class="span2" id="appendedInput" type="text" ng-model="mashscheme.alpha.length" ng-change="updateMashDataFromScheme()">
  			<span class="add-on">min</span>
		</div>
</div>

<div class="row">
		<label class="span2">Mash out</label>
		<div class="input-append">
  			<input class="span2" id="appendedInput" type="text" ng-model="mashscheme.mashout.temperature" ng-change="updateMashDataFromScheme()">
  			<span class="add-on">&#x2103</span>
		</div>
</div>
