<div class="row">
	<div class="col-md-4">
		<div class="hw-grouped">
			<div class="hw-header">Temperature</div>
			<div class="row">
				<div class="col-md-4">HLT</div>
				<div class="col-md-5 input-group">
					<input class="input-sm form-control uneditable-input" type="text"
						ng-model="hardware.temperature.hlt"/> 
					<span class="input-group-addon">&#x2103</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Mash out</div>
				<div class="input-group col-md-5">
					<input class="input-sm form-control uneditable-input" type="text"
						ng-model="hardware.temperature.mashout"/>
						 <span class="input-group-addon">&#x2103</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Mash in</div>
				<div class="input-group col-md-5">
					<input class="input-sm form-control uneditable-input" type="text"
						ng-model="hardware.temperature.mashin"/> <span
						class="input-group-addon">&#x2103</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Boil</div>
				<div class="input-group col-md-5">
					<input class="input-sm form-control uneditable-input" type="text"
						ng-model="hardware.temperature.boil"/>
					<span class="input-group-addon">&#x2103</span>
				</div>
			</div>
		</div>
		<div class="hw-grouped">
			<div class="hw-header" ng-model="hardware.heaters.mash.watt">Mash Heater ({{hardware.heaters.mash.watt}}&nbsp;W)</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">Actual</div>
				<div class="col-md-4">Desired</div>
			</div>
			<div class="row">
				<div class="col-md-4">Frequency</div>
				<div class="col-md-4 input-group" >
					<input class="input-sm form-control uneditable-input" type="text" ng-model="hardware.heaters.mash.frequency"/>
					<span class="input-group-addon">Hz</span>
				</div>
				<div class="col-md-4 input-group">
					<input class="input-sm form-control" type="text" ng-model="desiredhardwarestate.heaters.mash.frequency"/>
					<span class="input-group-addon">Hz</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">Duty Cycle</div>
				<div class="col-md-4 input-group" >
					<input class="input-sm form-control uneditable-input" type="text" ng-model="hardware.heaters.mash.duty_cycle"/>
					<span class="input-group-addon">%</span>
				</div>
				<div class="col-md-4 input-group">
					<input class="input-sm form-control" type="text" ng-model="desiredhardwarestate.heaters.mash.duty_cycle"/>
					<span class="input-group-addon">%</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">State</div>
				<div class="col-md-4" ng-model="hardware.heaters.mash.state">{{hardware.heaters.mash.state}}</div>
				<div class="col-md-4 btn-group">
    				<a class="btn btn-default" href="" ng-click="desiredhardwarestate.heaters.mash.state = 'ON'"><span class="glyphicon glyphicon-play-circle"></span></a>
    				<a class="btn btn-default" href="" ng-click="desiredhardwarestate.heaters.mash.state = 'OFF'"><span class="glyphicon glyphicon-off"></span></a>
   				</div>
			</div>
		</div>
		
		
		<div class="hw-grouped">
			<div class="hw-header">Mash Pump</div>
			<div class="row">
				<div class="col-md-4">State</div>
				<div class="col-md-4" ng-model="hardware.pumps.mash.state">{{hardware.pumps.mash.state}}</div>
				<div class="col-md-4 btn-group">
    				<a class="btn btn-default" href="" ng-click="changePumpState('mash','ON')"><span class="glyphicon glyphicon-play-circle"></span></a>
    				<a class="btn btn-default" href="" ng-click="changePumpState('mash','OFF')"><span class="glyphicon glyphicon-off"></span></a>
   				</div>
			</div>
		</div>
		
		
	</div>
	<div class="col-md-8" >
		<row>
			<div class="col-md-1 col-md-offset-11">
				<a class="btn btn-default" ng-hide="state.recording" href="" ng-click="startRecording()"><span class="glyphicon glyphicon-record"></span></a>
				<a class="btn btn-default" ng-hide="!state.recording" href="" ng-click="stopRecording()"><span style="color: red;" class="glyphicon glyphicon-stop"></span></a>
			</div>
			<div class="col-md-12" style="margin: -20px; z-index: -1;">
				<img src="images/RimsOverview.png" />
			</div>
		</row>
	</div>
</div>